


*{
	margin:0;
	padding:0;
}

body{
	min-height:100vh;
	display:flex;
	justify-content:center; /* align items horizontally in the center */
	align-items: center;/* align items vertically in the center */
	transition: all 1s ease;
	
}

.container{
	text-align:center;
}

.hexBtn{
	padding:0.25rem 0.5rem ; /*vertically and horizontally */
	border:3px solid #fefefe;
	border-radius:7px;
	height:45px;
	font-size:1.3rem;
	text-transform:capitalize;
	color:#fefefe;
	cursor:pointer;
	background: rgba(0,0,0,0.5)
}

.hexBtn:hover{
	background:rgb(0,0,0)
}